.otp_input_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.otp_input_container input[type="text"],
.otp_input_container input[type="number"] {
  width: 42px !important;
  height: 46px !important;
  font-family: var(--font-lato-regular) !important;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.24px;
  text-align: center !important;
  background: transparent !important;
  border-radius: 8px !important;
  border: 1px solid var(--concrete) !important;
  color: var(--jet-black) !important;
  outline: none !important;
  transition: all 0.2s ease-in-out !important;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

/* Focus state */
.otp_input_container input[type="text"]:focus,
.otp_input_container input[type="number"]:focus {
  border-color: var(--rose-red) !important;
  box-shadow: 0 0 0 3px var(--rose-tint) !important;
}

/* When input has value (not empty) */
.otp_input_container input[type="text"]:not(:placeholder-shown),
.otp_input_container input[type="number"]:not(:placeholder-shown) {
  box-shadow: 0px 0px 4px 0px var(--rose-red) !important;
  border: 1px solid var(--rose-red) !important;
  background: var(--platinum) !important;
}

/* Disabled state */
.otp_input_container input[type="text"]:disabled,
.otp_input_container input[type="number"]:disabled {
  background-color: var(--platinum) !important;
  color: var(--ash-gray) !important;
  cursor: not-allowed !important;
  border: 2px solid var(--concrete) !important;
}

/* Remove number input arrows for all browsers */
.otp_input_container input[type="text"]::-webkit-outer-spin-button,
.otp_input_container input[type="text"]::-webkit-inner-spin-button,
.otp_input_container input[type="number"]::-webkit-outer-spin-button,
.otp_input_container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Style placeholder */
.otp_input_container input::placeholder {
  font-family: var(--font-lato-regular);
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.24px;
  color: var(--urban-fog);
  text-align: center;
}
