.selectDropDown {
  width: 100%;
  max-width: 240px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.selectDropDownLabel {
  font-family: var(--font-lato-regular);
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.12px;
  color: rgba(87, 87, 87, 1);
}

.selectDropDownWithDownArrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid rgba(219, 219, 219, 1);
  background: var(--white);
  border-radius: 6px;
  cursor: pointer;
  min-height: 36px;
}
.selectDropDownFocused {
  border: 1px solid rgba(158, 46, 86, 1);
}

.selectDropDownError {
  border-color: red !important;
  outline: 1px solid red;
}
.placeholder,
.selectedText {
  font-family: "TitilliumWeb-Regular", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0%;
  color: rgba(87, 87, 87, 1);
}

.selectedText {
  color: var(--charcoal-gray);
}

.dropdownContainer {
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid rgba(219, 219, 219, 1);
  background: var(--white);
  padding: 4px;
}

.dropdownMenuWrapper {
  display: flex;
  flex-direction: column;
}

.dropdownMenu {
  max-height: 240px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.selectedOption {
  background: rgba(250, 250, 250, 1);
  border-radius: 4px;
}

.optionContent {
  display: flex;
  align-items: center;
  gap: 8px;
}
.optionContent span {
  font-family: var(--font-lato-regular);
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0%;
  color: rgba(87, 87, 87, 1);
}

.optionAvatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.optionIcon {
  width: 16px;
  height: 16px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.dropdownItem:hover .optionIcon,
.iconVisible {
  opacity: 1;
}

.arrowBase {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.arrowRotated {
  transform: rotate(180deg);
}

.errorMessage {
  color: red;
  font-family: var(--font-lato-regular);
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.12px;
  margin-top: 4px;
}
