.building_details_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  padding: 24px 24px 24px 0px;
}
.building_details_breadcrumb_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.building_details_sub_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  padding: 12px 20px 20px 20px;
  background-color: var(--white);
  border-radius: 12px;
  border: 1px solid var(--concrete);
}
.building_details_sub_container_header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.building_details_sub_container_header_title {
  font-family: var(--font-lato-bold);
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--jet-black);
}
.building_details_sub_container_header_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.building_details_sub_container_header_imageBtn_container {
  width: 64px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  border: 1px solid var(--concrete);
  padding: 4px;
  cursor: pointer;
}
.avatar_img_container {
  width: 32px !important;
  height: 26px !important;
  border-radius: 100% !important;
  overflow: hidden;
}
.avatar_img {
  width: 16px !important;
  height: 16px !important;
}
.active_image_tab {
  background-color: var(--rose-tint);
}
.active_image_tab .avatar_img {
  width: 16px !important;
  height: 16px !important;
}
.building_details_images_section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.building_details_tabs_section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.building_details_revit_button {
  border: none;
  color: var(--rose-red);
}

.building_details_tab_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
