/* filter container */
.filter_container {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 12px;
  background-color: var(--white);
  border-radius: 12px;
  border: 1px solid var(--concrete);
  box-shadow: 0px 2px 4px 0px var(--black-shadow);
  margin-top: 12px;
}
.filter_title_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}
.filter_title {
  font-family: var(--font-lato-regular);
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--granite-gray);
}
.filter_content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
}
.filter_content:hover {
  background-color: var(--rose-tint);
}

.filter_content_text {
  font-family: var(--font-lato-regular);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--jet-black);
}
.filter_content_text_active {
  color: var(--rose-red);
}
.filter_subcontent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.filter_subcontent_text_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.filter_subcontent_text_active {
  color: var(--rose-red);
}
