.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}
.label {
  font-family: var(--font-lato-regular);
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.12px;
  color: var(--carbon);
}
.inputWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  position: relative;
  border-radius: 6px;
}
.input:focus {
  border: 1px solid var(--siren-red);
}
.leftIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 8px;
  cursor: pointer;
}
.rightIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 8px;
  cursor: pointer;
}
.input {
  width: 100%;
  height: 38px;
  font-family: var(--font-lato-regular);
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.24px;
  color: var(--jet-black);
  border-radius: 8px;
  padding: 8px;
  outline: none;
  background: transparent;
  border: 1px solid var(--concrete);
}
.input::placeholder {
  color: var(--fog-gray);
  font-family: var(--font-lato-regular);
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.24px;
}
.errorBg {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  position: relative;
  border-radius: 8px;
}
.error_input {
  border-color: var(--bright-crimson) !important;
  box-shadow: 0 0 0 2px var(--bright-crimson-tint);
}
.error_input:focus {
  border-color: var(--bright-crimson) !important;
  box-shadow: 0 0 0 2px var(--bright-crimson-tint);
}
.error {
  color: var(--bright-crimson) !important;
  font-family: var(--font-lato-semi-bold);
  font-size: 13px;
}
.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
